<section>
	<div class="bg-on"></div>
	<div class="container collections">
		<div class="catalog">
			<h1 class="catalog-h1">Catalog</h1>
			<p class="catalog-p">
				Lorem Ipsum is simply dummy text of the printing and typesetting
				industry. Lorem Ipsum has been the industry's standard dummy text.
			</p>
		</div>
		<div class="ronk">
			<div class="ronk-main">
				<p class="ronk-main-one">Lorem Ipsum</p>
				<p class="ronk-main-two ronk-main-two-p14">Categories</p>
				<p class="ronk-main-three ronk-main-three-w ronk-main-three-p24">
					Lorem Ipsum is simply dummy text of the printing and typesetting
					industry. Lorem Ipsum has been the industry's standard dummy text ever
					since the 1500s,
				</p>
			</div>
			<div class="filt">
				<img src="/assets/img/catalog-1.jpg" alt="catalog-1" />
				<div class="dff">
					<p class="ronk-main-one">Lorem Ipsum</p>
					<p class="ronk-main-two ronk-main-two-p6">Lorem Ipsum</p>
					<p class="ronk-main-three ronk-main-three-p6">Lorem Ipsum</p>
				</div>
			</div>
			<div class="filt">
				<img src="/assets/img/catalog-2.jpg" alt="catalog-1" />
				<div class="dff">
					<p class="ronk-main-one">Lorem Ipsum</p>
					<p class="ronk-main-two ronk-main-two-p6">Lorem Ipsum</p>
					<p class="ronk-main-three ronk-main-three-p6">Lorem Ipsum</p>
				</div>
			</div>
			<div class="filt">
				<img src="/assets/img/catalog-3.jpg" alt="catalog-1" />
				<div class="dff">
					<p class="ronk-main-one">Lorem Ipsum</p>
					<p class="ronk-main-two ronk-main-two-p6">Lorem Ipsum</p>
					<p class="ronk-main-three ronk-main-three-p6">Lorem Ipsum</p>
				</div>
			</div>
		</div>
		<div class="grau">
			<p class="grau-p">Showing 1 - 15 of 22 results</p>
			<img src="/assets/img/right.svg" alt="right" />
		</div>
		<div>
			<button class="btn-read btn-center btn-m btn-read-dark">Load More</button>
			<div class="banner">
				<div class="banner-main">
					<h2 class="banner-main-h2">Promotional Banner</h2>
					<p class="banner-main-p">
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry. Lorem Ipsum has been the industry's standard dummy text.
					</p>
				</div>
				<div class="banner-img"></div>
			</div>
		</div>
	</div>
</section>
