<footer>
	<div class="bg-darks">
		<div class="container footer">
			<div class="footer-d">
				<div class="footer-m">
				<div class="footer-main">
					<img
						class="footer-logo"
						src="/assets/img/logo-w.svg"
						alt="Logo"
						width="162"
						height="57"
					/>
				</div>
				<div class="mob-nav">
					<div class="mob-title">
						<h3 class="footer-nav-h3">Products</h3>
						<div><img src="/assets/img/line.svg" alt="line" /></div>
					</div>
					<div class="mob-title">
						<h3 class="footer-nav-h3">Services</h3>
						<div><img src="/assets/img/line.svg" alt="line" /></div>
					</div>
					<div class="mob-title">
						<h3 class="footer-nav-h3">Contact information</h3>
						<div><img src="/assets/img/line.svg" alt="line" /></div>
					</div>
				</div>
				<div class="footer-main-shake">
					<a href="#">
						<img src="/assets/img/fake.svg" alt="fakebook" />
					</a>
					<a href="#">
						<img src="/assets/img/twit.svg" alt="twin" />
					</a>
					<a href="#">
						<img src="/assets/img/insta.svg" alt="insta" />
					</a>
				</div>
			</div>
			<div class="footer-nav">
				<nav class="footer-nav-title">
					<h3 class="footer-nav-h3">Products</h3>
					<a href="#" class="footer-link">Sand Stone</a>
					<a href="#" class="footer-link">Stone</a>
					<a href="#" class="footer-link">Cement</a>
					<a href="#" class="footer-link">Soft Stone</a>
				</nav>

				<nav class="footer-nav-title">
					<h3 class="footer-nav-h3">Services</h3>

					<a href="#" class="footer-link">Measurement Service</a>
					<a href="#" class="footer-link">Product Advice</a>
					<a href="#" class="footer-link">Interior Design</a>
				</nav>

				<nav class="footer-nav-title">
					<h3 class="footer-nav-h3">Contact information</h3>

					<a href="#" class="footer-link"
						>3181 Al Imam Saud Ibn Abdul Aziz Branch Rd,</a
					>
					<a href="#" class="footer-link">An Nuzhah, Riyadh 12474,</a>
					<a href="#" class="footer-link">Saudi Arabia</a>
				</nav>
			</div>
     </div>
			<div class="footer-bad">
				<a href="#">
					<p class="footer-p">Copyright © 2022 | All Rights Reserved.</p>
				</a>
				<a href="#">
					<p class="footer-p">Created with love by thecreation design</p>
				</a>
			</div>
		</div>
	</div>
</footer>
