<section>
	<div class="gallery container">
		<div class="gallery-main">

		<div class="cteative">
			<h1 class="creative-head">
				Creative Solutions by Professional Designers
			</h1>
			<p class="creative-more">
				Penatibus sem vitae mollis luctus mi tellus. Maximus eu eleifend aptent
				dapibus metus maecenas consequat. Elementum interdum a semper. Netus
				nullam eros nisi volutpat nibh ex ultricies. Pharetra sagittis sit
				aliquet at. Magna nam platea justo.
			</p>
		</div>
		
			<div class="gallery-img">
				<picture>
					<img
						src="/assets/img/room-1.jpg"
						alt="room-1"
						srcset="/assets/img/room-1.jpg 1x, /assets/img/room-1@2x.jpg 2x"
					/>
				</picture>
				<picture>
					<img
						src="/assets/img/room-2.jpg"
						alt="room-2"
						srcset="/assets/img/room-2.jpg 1x, /assets/img/room-2@2x.jpg 2x"
					/>
				</picture>
				<picture>
					<img
						src="/assets/img/room-3.jpg"
						alt="room-3"
						srcset="/assets/img/room-3.jpg 1x, /assets/img/room-3@2x.jpg 2x"
					/>
				</picture>
		   	</div>
					<div class="btn-l">
					<button type="button" class="btn-read btn-read-dark">Learn more</button>
		     </div>

		    	</div>
				
	         
			<div class=" video-block">
				<picture>
					<source
						media="(min-width: 768px )"
						srcset="/assets/img/video@2x.jpg"
					/>
					<source media="(min-width: 320px )" srcset="/assets/img/video.jpg" />

					<img
						class="video-images"
						src="/assets/img/video.jpg"
						alt="video-1"
						srcset="/assets/img/video.jpg 1x, /assets/img/video.jpg 2x"
					/>
				</picture>
						<div class="video-block-content">
				<img src="/assets/img/video.svg" alt="video">
				<div>
					<p class="title">Watch</p>
				   <p class="title e--blk">Video-tour</p>
				</div>
				
			</div>				 
			</div>

		
     
		 <div class="swiper" id="solutions-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<picture>
								<img
									src="/assets/img/room-1.jpg"
									alt="room-1"
									srcset="/assets/img/room-1.jpg 1x, /assets/img/room-1@2x.jpg 2x"
								/>
							</picture>
						</div>
						<div class="swiper-slide">
							<picture>
								<img
									src="/assets/img/room-2.jpg"
									alt="room-2"
									srcset="/assets/img/room-2.jpg 1x, /assets/img/room-2@2x.jpg 2x"
								/>
							</picture>
						</div>
						<div class="swiper-slide">
							<picture>
								<img
									src="/assets/img/room-3.jpg"
									alt="room-3"
									srcset="/assets/img/room-3.jpg 1x, /assets/img/room-3@2x.jpg 2x"
								/>
							</picture>
						</div>
						<div class="swiper-slide">

						<picture>
							<source
								media="(min-width: 768px )"
								srcset="/assets/img/video@2x.jpg"
							/>
							<source media="(min-width: 320px )" srcset="/assets/img/video.jpg" />
		
							<img
								class="video-images"
								src="/assets/img/video.jpg"
								alt="video-1"
								srcset="/assets/img/video.jpg 1x, /assets/img/video.jpg 2x"
							/>
						</picture>
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				
				</div>
			</div>
	</div>
</section>
