<section>
	<div>
		<div class="one"></div>
		<div class="bg-new container">
			<div class="bg-new-title">
				<h1 class="bg-new-head">New Generation Ceramic Tile</h1>
				<p class="bg-new-more">
					Penatibus sem vitae mollis luctus mi tellus. Maximus eu eleifend
					aptent dapibus metus maecenas consequat. Elementum interdum a semper.
					Netus nullam eros nisi volutpat nibh ex ultricies. Pharetra sagittis
					sit aliquet at. Magna nam platea justo.
				</p>
				<a href="https://prohorov01.github.io/pepelac/two.html">
					<button type="button" class="btn-white">Learn more</button></a
				>
			</div>
		</div>
	</div>
</section>
