<section>
	<div class="products container">
		<div class="products-title">
			<h1 class="products-head">Products</h1>
			<div class="products-main">
				<p class="products-more">
					Lorem Ipsum is simply dummy text of the printing and typesetting
					industry. Lorem Ipsum has been the industry's standard dummy text.
				</p>
			</div>
		</div>
		<div class="products-img">
			<div class="products-img-right">
				<div>
					<picture>
						<img
							src="/assets/img/rom-1.jpg"
							alt="rom-1"
							srcset="/assets/img/rom-1.jpg 1x, /assets/img/rom-1@2x.jpg 2x"
						/>
					</picture>
					<a href="https://prohorov01.github.io/pepelac/two.html"><div class="products-img-main">
						<h2 class="products-img-h2">Bathroom Tiles</h2>
						<p class="products-img-p">
							Ante mus blandit sapien sociosqu per consequat ad.
						</p>
					</div></a>
				</div>

				<div>
					<picture>
						<img
							src="/assets/img/rom-2.jpg"
							alt="room-2"
							srcset="/assets/img/rom-2.jpg 1x, /assets/img/rom-2@2x.jpg 2x"
						/>
					</picture>
				<a href="https://prohorov01.github.io/pepelac/two.html">	<div class="products-img-main m-two">
						<h2 class="products-img-h2">Marble</h2>
						<p class="products-img-p">Ante mus blandit sapien sociosqu</p>
					</div></a>
				</div>
			</div>

			<div class="products-img-left">
				<div>
					<picture>
						<img
							src="/assets/img/rom-3.jpg"
							alt="rom-3"
							srcset="/assets/img/rom-3.jpg 1x, /assets/img/rom-3@2x.jpg 2x"
						/>
					</picture>
					<a href="https://prohorov01.github.io/pepelac/two.html"><div class="products-img-main m-three">
						<h2 class="products-img-h2">Outdoor Flooring</h2>
						<p class="products-img-p">
							Ante mus blandit sapien sociosqu per consequat ad.
						</p>
					</div></a>
				</div>

				<div>
					<picture>
						<img
							src="/assets/img/rom-4.jpg"
							alt="room-4"
							srcset="/assets/img/rom-4.jpg 1x, /assets/img/rom-4@2x.jpg 2x"
						/>
					</picture>
					<a href="https://prohorov01.github.io/pepelac/two.html"><div class="products-img-main m-three">
						<h2 class="products-img-h2">Kitchen Interior</h2>
						<p class="products-img-p">
							Ante mus blandit sapien sociosqu per consequat ad.
						</p>
					</div></a>
				</div>
			</div>
		</div>

		<div
			class="swiper"
			id="solutions-swiper"
		>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div>
						<picture>
							<img
								src="/assets/img/rom-1.jpg"
								alt="rom-1"
								srcset="/assets/img/rom-1.jpg 1x, /assets/img/rom-1@2x.jpg 2x"
							/>
						</picture>
						<div class="products-img-main">
							<h2 class="products-img-h2">Bathroom Tiles</h2>
							<p class="products-img-p">
								Ante mus blandit sapien sociosqu per consequat ad.
							</p>
						</div>
					</div>

				</div>
				<div class="swiper-slide">
					<div>
						<picture>
							<img
								src="/assets/img/rom-2.jpg"
								alt="room-2"
								srcset="/assets/img/rom-2.jpg 1x, /assets/img/rom-2@2x.jpg 2x"
							/>
						</picture>
						<div class="products-img-main m-two">
							<h2 class="products-img-h2">Marble</h2>
							<p class="products-img-p">Ante mus blandit sapien sociosqu</p>
						</div>
					</div>
				</div>

<div class="swiper-slide">
					<div>
						<picture>
							<img
								src="/assets/img/rom-3.jpg"
								alt="rom-3"
								srcset="/assets/img/rom-3.jpg 1x, /assets/img/rom-3@2x.jpg 2x"
							/>
						</picture>
						<div class="products-img-main m-three">
							<h2 class="products-img-h2">Outdoor Flooring</h2>
							<p class="products-img-p">
								Ante mus blandit sapien sociosqu per consequat ad.
							</p>
						</div>
					</div>

				</div>
				<div class="swiper-slide">
					<div>
						<picture>
							<img
								src="/assets/img/rom-4.jpg"
								alt="room-4"
								srcset="/assets/img/rom-4.jpg 1x, /assets/img/rom-4@2x.jpg 2x"
							/>
						</picture>
						<div class="products-img-main m-three">
							<h2 class="products-img-h2">Kitchen Interior</h2>
							<p class="products-img-p">
								Ante mus blandit sapien sociosqu per consequat ad.
							</p>
						</div>
					</div>

				</div>

				</div>
<div class="swiper-pagination"></div>

			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
			</div>
			

		</div>
	</div>
</section>
