<section>
	<div class="projects container">
		<div class="projects-title">
			<h1 class="projects-head">Projects</h1>
			<div class="projects-main">
				<p class="projects-more">
					Lorem Ipsum is simply dummy text of the printing and typesetting
					industry. Lorem Ipsum has been the industry's standard dummy text.
				</p>
			</div>
		</div>
		<div class="projects-img">
			<div class="projects-img-right">
				<div>
					<picture>
						<img
							src="/assets/img/projects-1.jpg"
							alt="projects-1"
							srcset="/assets/img/projects-1.jpg 1x, /assets/img/projects-1@2x.jpg 2x"
						/>
					</picture>
					<div class="projects-img-main">
						<h2 class="projects-img-h2">Kingdom Tower</h2>
						<p class="projects-img-p">
							Marble Flooring
						</p>
					</div>
				</div>

				<div>
					<picture>
						<img
							src="/assets/img/projects-2.jpg"
							alt="projects-2"
							srcset="/assets/img/projects-2.jpg 1x, /assets/img/projects-2@2x.jpg 2x"
						/>
					</picture>
					<div class="projects-img-main ">
						<h2 class="projects-img-h2">Dubai mall</h2>
						<p class="projects-img-p">Wood Flooring</p>
					</div>
				</div>
			

			
				<div>
					<picture>
						<img
							src="/assets/img/projects-3.jpg"
							alt="projects-3"
							srcset="/assets/img/projects-3.jpg 1x, /assets/img/projects-3@2x.jpg 2x"
						/>
					</picture>
					<div class="projects-img-main ">
						<h2 class="projects-img-h2">King Road Offices</h2>
						<p class="projects-img-p">
							Outdoor Flooring
						</p>
					</div>
				</div>

				<div>
					<picture>
						<img
							src="/assets/img/projects-4.jpg"
							alt="projects-4"
							srcset="/assets/img/projects-4.jpg 1x, /assets/img/projects-4@2x.jpg 2x"
						/>
					</picture>
					<div class="projects-img-main ">
						<h2 class="projects-img-h2">Beach Tower Alupang</h2>
						<p class="projects-img-p">
							Wood Flooring
						</p>
					</div>
				</div>
			</div>
		</div>
	
		<div
			class="swiper"
			id="solutions-swiper"
		>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div>
						<picture>
							<img
								src="/assets/img/projects-1.jpg"
								alt="projects-1"
								srcset="/assets/img/projects-1.jpg 1x, /assets/img/projects-1@2x.jpg 2x"
							/>
						</picture>
						<div class="projects-img-main">
							<h2 class="projects-img-h2">Kingdom Tower</h2>
							<p class="projects-img-p">
								Marble Flooring
							</p>
						</div>
					</div>

				</div>
				<div class="swiper-slide">
					<div>
						<picture>
							<img
								src="/assets/img/projects-2.jpg"
								alt="projects-2"
								srcset="/assets/img/projects-2.jpg 1x, /assets/img/projects-2@2x.jpg 2x"
							/>
						</picture>
						<div class="projects-img-main m-two">
							<h2 class="projects-img-h2">Dubai mall</h2>
							<p class="projects-img-p">Wood Flooring</p>
						</div>
					</div>
				</div>

<div class="swiper-slide">
					<div>
						<picture>
							<img
								src="/assets/img/projects-3.jpg"
								alt="projects-3"
								srcset="/assets/img/projects-3.jpg 1x, /assets/img/projects-3@2x.jpg 2x"
							/>
						</picture>
						<div class="projects-img-main m-three">
							<h2 class="projects-img-h2">King Road Offices</h2>
							<p class="projects-img-p">
								Outdoor Flooring
							</p>
						</div>
					</div>

				</div>
				<div class="swiper-slide">
					<div>
						<picture>
							<img
								src="/assets/img/projects-4.jpg"
								alt="projects-4"
								srcset="/assets/img/projects-4.jpg 1x, /assets/img/projects-4@2x.jpg 2x"
							/>
						</picture>
						<div class="projects-img-main m-three">
							<h2 class="projects-img-h2">Beach Tower Alupang</h2>
							<p class="projects-img-p">
								Wood Flooring
							</p>
						</div>
					</div>

				</div>

				</div>


			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
			</div>
			

		</div>
		<div class="btn-P">
					<button type="button" class="btn-read btn-read-dark">View All</button>
		     </div>
	</div>
</section>
