.bg-on {
	background-repeat: no-repeat;
	background-image: url("../img/bg-4.png");
	width: 1920px;
	height: 526px;
	margin: 0 auto;
	filter: brightness(0.6);
}
.catalog {
	transform: translateY(-380px);
	margin-bottom: -130px;
	&-h1 {
		margin-bottom: 31px;
		font-family: "Proxima Nova";
		font-style: normal;
		font-weight: 700;
		font-size: 72px;
		line-height: 72px;
		text-transform: uppercase;
		color: #ffffff;
	}
	&-p {
		font-family: "Proxima Nova";
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 28px;
		color: #e4e4e4;
		max-width: 657px;
		width: 100%;
	}
}
.grau {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 50px;
	&-p {
		font-family: "Proxima Nova";
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 28px;
		color: #808080;
	}
}
.ronk {
	display: flex;
	justify-content: space-between;
	gap: 26px;
	&-main {
		background-color: #252525;
		padding: 48px 46px 102px 27px;
		width: 328px;
		height: 401px;
		&-one {
			font-family: "Proxima Nova";
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 28px;
			color: #ffffff;
		}
		&-two {
			font-family: "Proxima Nova";
			font-style: normal;
			font-weight: 700;
			font-size: 25px;
			line-height: 25px;
			color: #ffffff;
			&-p14 {
				padding-top: 14px;
			}
			&-p6 {
				padding-top: 6px;
			}
		}
		&-three {
			font-family: "Proxima Nova";
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			color: #bcbcbc;
			&-p24 {
				padding-top: 24px;
			}
			&-p6 {
				padding-top: 6px;
			}
			&-w {
				width: 255px;
			}
		}
	}
}
.dff {
	transform: translateY(-106px);
	padding-left: 20px;
	margin-bottom: -96px;
}
.filt {
	filter: brightness(0.9);
}
.btn-m {
	margin: 0 auto !important;
}
.banner {
	display: flex;
	margin-top: 100px;
	justify-content: flex-end;
	&-main {
		padding-top: 39px;
		padding-left: 32px;
		padding-bottom: 38px;
		clip-path: polygon(0 0, 100% 0, 83% 90%, 0 100%);
		height: 231px;
		margin-right: -76px;
		&-h2 {
			font-family: "Proxima Nova";
			font-style: normal;
			font-weight: 400;
			font-size: 40px;
			line-height: 60px;
			color: #000000;
			padding-bottom: 10px;
		}
		&-p {
			font-family: "Proxima Nova";
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 28px;
			color: #616161;
			width: 481px;
		}
	}
	&-img {
		background-repeat: no-repeat;
		background-image: url("../img/gradient.jpg");
		width: 890px;
		height: 358px;
		margin: 0 auto;
		clip-path: polygon(11% 0%, 100% 0, 100% 100%, -6% 100%);
	}
}
